
html, body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

html {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center 300px;
}

sup {
	font-size:0.25em;
}

ul {
	padding:0px;
	margin:0px;
	list-style:none;
}

@font-face {
	font-family: 'Conv_pnl';
	src: url('../images/pnl.eot');
	src: local('☺'), url('../images/pnl.woff') format('woff'), url('../images/pnl.ttf') format('truetype'), url('../images/pnl.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_pnr';
	src: url('../images/pnr.eot');
	src: local('☺'), url('../images/pnr.woff') format('woff'), url('../images/pnr.ttf') format('truetype'), url('../images/pnr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_pnb';
	src: url('../images/pnb.eot');
	src: local('☺'), url('../images/pnb.woff') format('woff'), url('../images/pnb.ttf') format('truetype'), url('../images/pnb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_pnsb';
	src: url('../images/pnsb.eot');
	src: local('☺'), url('../images/pnsb.woff') format('woff'), url('../images/pnsb.ttf') format('truetype'), url('../images/pnsb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_msthree';
	src: url('../images/msthree.eot');
	src: local('☺'), url('../images/msthree.woff') format('woff'), url('../images/msthree.ttf') format('truetype'), url('../images/msthree.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@-webkit-keyframes mouseAnim { from { opacity:.1; } to { opacity:1; } }
@-moz-keyframes mouseAnim { from { opacity:.1; } to { opacity:1; } }
@keyframes mouseAnim { from { opacity:.1; } to { opacity:1; } }
 
.mouseanim {
    opacity:.1;
    -webkit-animation:mouseAnim ease infinite;
    -moz-animation:mouseAnim ease  infinite;
    animation:mouseAnim ease  infinite;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.8s;
    -moz-animation-duration:0.8s;
    animation-duration:0.8s;
}
 
.mouseanim.one {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
}
 
.mouseanim.two {
-webkit-animation-delay: .4s;
-moz-animation-delay:.4s;
animation-delay: .4s;
}
 
.mouseanim.three {
-webkit-animation-delay: .5s;
-moz-animation-delay: .5s;
animation-delay: .5s;
}



.comeatmebro {
	/* Haha. Yep, for real. */
	height:5000px;
}

.loadfix {
	position:absolute;
	left:-9999px;
	top:0;
	height:0px;
	width:0;
	
}


/* ================================= RESUME BTN ================================= */

#resume-btn {
	display:inline-block;
	padding:40px;
	background-color:rgba(255, 255, 255, .3);
	position:absolute;
	top:0px;
	right:0px;
	z-index:99999;
	/* display:none; */
}


/* =================================INTRO================================= */
#wrapper {
	position:relative;
	width:100%;
	overflow:hidden;
	z-index:100;
	background:#141414;
	border:none;
	background-image:url(../images/banner-full-grey.jpg);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
}

.title-container {
	max-width:900px;
}

.device-caption {
	display:inherit;
	z-index:100000;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-42.5%;
	margin-top:-10%;
	width:85%;
	padding-top:13.8%;
	background-image:url(../images/caption-thick-center.png);
	background-size:auto 70%;
	background-repeat:no-repeat;
	background-position:center center;
}

/* .fixmylackofcodeknowledge {
	height:1%;
	background:#141414;
} */

.intro1, .intro2, .intro3 {
	/*background-image:url(../images/bannertop-grey.jpg);*/
	background-position:center top;
	background-size:auto 33.33%;
	background-attachment:fixed;
	/*background-color:#141414;*/
	height:33.33%;
	width:100%;
	overflow:hidden;
	position:relative;
	background-image:none;
	background-color:transparent;
}

.intro2 {
/*
	background-image:url(../images/text-trial.png),  url(../images/bannermid-grey2.jpg);
	background-position:center center, center top;
	background-size:auto 25%, auto 33.33%;
	background-repeat:no-repeat, repeat;
*/
	
/*
	background-image:url(../images/caption-broken.png),  url(../images/bannermid-grey2.jpg);
	background-position:center center, center top;
	background-size:auto 32%, auto 33.33%;
	background-repeat:no-repeat, repeat;
*/
	

/*
	background-image:url(../images/caption-thick-center.png),  url(../images/bannermid-grey2.jpg);
	background-position:center center, center top;
	background-size:auto 20%, auto 33.33%;
	background-repeat:no-repeat, repeat;
*/

/*	background-image:url(../images/caption-thick-center.png);*/
	background-position:center center, center top;
	background-size:auto 20%, auto 33.33%;
	background-repeat:no-repeat, repeat;
	background-image:none;
	background-color:transparent;
}

.intro3 {
	/*background-image:url(../images/bannerbottom-grey.jpg);*/
	background-image:none;
	background-color:transparent;
}

/* FIX THAT DAMN GHOSTING BUG IN FIREFOX :( */
@-moz-document url-prefix() {
.intro1, .intro2, .intro3 {
/*	
	background-image:url(../images/bannertop-grey2.jpg);
	background-position:center top;
	background-size:auto 33.4%;
	background-attachment:fixed;
	background-color:#141414;
	height:33.5%;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-bottom:-1px;
*/
	background-image:none;
	background-color:transparent;
	}
}
/*
@-moz-document url-prefix() {
.intro1 {
	height:33.6%;
	}
}

@-moz-document url-prefix() {
.intro2 {
	background-image:url(../images/bannermid-grey2.jpg);
	background-position:center top;
	background-size:auto 33.4%;
	background-repeat:repeat;
	}
}

@-moz-document url-prefix() {
.intro3 {
	background-image:url(../images/bannerbottom-grey2.jpg);
	}
}
*/
#mouseicon {
	position: absolute;
	left: 50%;
	top: 48%;
	margin-left: -12px;
	height: 40px;
	width: 24px;
	/*border-radius: 12px;
	border: 2px solid #fff;*/
	overflow: hidden;
	position: relative;
	display: inline-block;
	padding: 5px 0px;
	cursor: pointer;
	background-image: url(../images/more.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}


.mousescroll1, .mousescroll2, .mousescroll3 {
/*
	position:absolute;
	top:-5px;
	left:50%;
*/
	height:4px;
	width:4px;
	border-radius:50%;
	margin:0px auto;
	margin-top:5px;
/* 	margin-left:-2px; */
	background:#fff;
	opacity:1.0
}

.mousescroll2 {
	opacity:.66;
	margin-top:5px;
}

.mousescroll3 {
	opacity:1.0;
	margin-top:5px;
}

/* ================================= EVERYTHNG CONTAINER ================================= */

#everything {
	z-index:10;
	width:100%;
	overflow:hidden;
}

.stayput {
	position:fixed;
	top:0;
	left:0;
}

.scrollnow {
	position:inherit;
}





/* ================================= STATEMENT ================================= */

.statement {
	width:100%;
	background:#fff;
	position:relative;
}

.inner {
	padding:90px 0px;
	margin:0px auto;
	text-align:center;
	position:relative;
}

.inner h2, .new_container h2 {
	font-weight:normal;
	width:100%;
	color:#26292a;
	font-size:3.25em;
	font-family:'Conv_pnb', sans-serif;
	text-transform:uppercase;
	background:#fff;
	margin:0px;
	line-height:.6em;
	letter-spacing:.05em;
}

/*
.inner h2.compensationforthespacegivenbythatdamnsuptag {
	padding-left:30px;
}
*/

.make-type-sexy {
	max-width:960px;  /* 585px BLOCK STYLE*/
	padding:0px 50px;
	margin:30px auto 0px auto;
}

.inner p, .recent-work > ul > li > ul >li{
	font-size:1.1em;
	letter-spacing:.1em;
	color:#41454c;
	font-weight:300;
	font-family:'Conv_msthree', sans-serif;
	line-height:1.9375em;
	margin:0px;
}


.inner.line{
	border-top:1px solid #CCC;
}



.statementline {
	height:2px;
	background:#26292a;
	position:absolute;
	top:50.3%;
	width:100%;
}

.ap_inner {
	padding:45px 0px;
	margin:0px auto;
	text-align:center;
	position:relative;
	background-color: #fff;
	max-width: 1728px;
}

.ap_inner h2 {
	font-weight:lighter;
	width:100%;
	color:#26292a;
	font-size:3.25em;
	font-family:'Conv_pnb', sans-serif;
	/*text-transform:uppercase;*/
	margin:0px;
	line-height:1em;
	letter-spacing:.05em;
}

.ap_inner > .make-type-sexy {
	max-width:650px;  /* 585px BLOCK STYLE*/
	padding:0px 50px;
	margin:30px auto 0px auto;
}

.ap_inner p {
	font-size:1.1em;
	letter-spacing:.1em;
	color:#41454c;
	font-weight:300;
	font-family:'Conv_msthree', sans-serif;
	line-height:1.9375em;
	margin:0px;
}

.btn.btn-clear {
    box-sizing: border-box;
    background: transparent none repeat scroll 0px 0px;
    border: 2px solid #3366ff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 12px 28px;
    color: #3366ff;
}
.btn {
    border-radius: 6px;
    line-height: 22px;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 1em;
}
.btn.btn-clear:hover {
	background-color: #3366ff;
	border:2px solid #3366ff;
	color: #fff;
}

.btn.btn-clear.DLS_style{
	border: 2px solid #4285F5;	
	color: #4285F5;
}
.btn.btn-clear.DLS_style:hover {
	background-color: #4285F5;
	border:2px solid #4285F5;
	color: #fff;
}

.btn.btn-clear.ehost_style{
	border: 2px solid #00B041;	
	color: #00B041;
}
.btn.btn-clear.ehost_style:hover {
	background-color: #00B041;
	border:2px solid #00B041;
	color: #fff;
}


.btn.btn-clear.ayapp_style{
	border: 2px solid #F3370D;	
	color: #F3370D;
}
.btn.btn-clear.ayapp_style:hover {
	background-color: #F3370D;
	border:2px solid #F3370D;
	color: #fff;
}

.btn.btn-clear.user_research_style{
	border: 2px solid #FFBC00;	
	color: #FFBC00;
}
.btn.btn-clear.user_research_style:hover {
	background-color: #FFBC00; 
	border:2px solid #FFBC00;
	color: #fff;
}

.btn.btn-clear.ap_style{
	border: 2px solid #cc3333;	
	color: #cc3333;
}
.btn.btn-clear.ap_style:hover {
	background-color: #cc3333;
	border:2px solid #cc3333;
	color: #fff;
}
.btn.btn-clear.yib_style{
	border: 2px solid #33cccc;	
	color: #33cccc;
}
.btn.btn-clear.yib_style:hover {
	background-color: #33cccc;
	border:2px solid #33cccc;
	color: #fff;
}
.btn.btn-clear.andr_style{
	border: 2px solid #99cc33;	
	color: #99cc33;
}
.btn.btn-clear.andr_style:hover {
	background-color: #99cc33;
	border:2px solid #99cc33;
	color: #fff;
}
.btn.btn-clear.wahh_style{
	border: 2px solid #0D9C53;	
	color: #0D9C53;
}
.btn.btn-clear.wahh_style:hover {
	background-color: #0D9C53;
	border:2px solid #0D9C53;
	color: #fff;
}
.btn.btn-clear.nsl_style{
	border: 2px solid #014889;	
	color: #014889;
}
.btn.btn-clear.nsl_style:hover {
	background-color: #014889;
	border:2px solid #014889;
	color: #fff;
}
.btn.btn-clear.ipeen89_style{
	border: 2px solid #c05751;	
	color: #c05751;
}
.btn.btn-clear.ipeen89_style:hover {
	background-color: #c05751;
	border:2px solid #c05751;
	color: #fff;
}
.btn.btn-clear.tripcard_style{
	border: 2px solid #65B9B7;	
	color: #65B9B7;
}
.btn.btn-clear.tripcard_style:hover {
	background-color: #65B9B7;
	border:2px solid #65B9B7;
	color: #fff;
}
.btn.btn-clear.flash_buy_style{
	border: 2px solid #FFAB05;	
	color: #FFAB05;
}
.btn.btn-clear.flash_buy_style:hover {
	background-color: #FFAB05;
	border:2px solid #FFAB05;
	color: #fff;
}
/* ================================= FEATURED WORKS ================================= */

#work li {
	background-color:#2E2F30;
	min-height: 400px;
	text-align: center;
}
#work li:last-child{
	border-bottom: 1px solid #CCC;
}


.section-strip {
	width:100%;
	padding:35px 0px;
	background:#26292a;
	font-size:.7em;
	color:#595b5b;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:.2em;
	overflow:hidden;
	font-family:'Conv_pnsb', sans-serif;
}


.thumbmask {
	opacity:1.0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, .6);
	
	transition:linear .4s all;
	-moz-transition:linear .4s all;
	-webkit-transition:linear .4s all;
	-o-transition:linear .4s all;
}

.thumbmask:hover {
	opacity:0;
}


#user_research-container, #ayapp-container, #ehost-container, #DLS-container, #hotsky-container, #apeepee-container, #yiabi-container, #lol-container, #android-container, #line-container, #wahh-container, #nsl-container, #ipeen89-container, #tripcard-container, #flash_buy-container{
	height:350px;
	width:100%;
	display:inline-block;
	border:none;
	text-indent:-9999px;
	background:url(../images/hotskys.jpg) center 0px no-repeat;
	
	
	opacity:.5;
	
	transition:linear .2s all;
	-moz-transition:linear .2s all;
	-o-transition:linear .2s all;
	-webkit-transition:linear .2s all;
	
}

#user_research-container:hover, #ayapp-container:hover, #ehost-container:hover, #DLS-container:hover, #hotsky-container:hover, #apeepee-container:hover, #yiabi-container:hover, #lol-container:hover, #android-container:hover, #line-container:hover, #ipeen89-container:hover, #tripcard-container:hover, #flash_buy-container:hover{
	opacity:1;

}



#DLS-container{
	background:url(../images/design_foundation.jpg) center 0px no-repeat;
}

#ehost-container{
	background:url(../images/e-host.jpg) center 0px no-repeat;
}

#ayapp-container{
	background:url(../images/ayios.jpg) center 0px no-repeat;
}

#user_research-container{
	background:url(../images/user_research.jpg) center 0px no-repeat;
}

#apeepee-container {
	background:url(../images/apeepee.jpg) center 0px no-repeat;
}


#yiabi-container {
	background:url(../images/yiabi.jpg) center 0px no-repeat;
}

#lol-container {
	background:url(../images/lol.jpg) center 0px no-repeat;
}

#android-container {
	background:url(../images/android_market.jpg) center 0px no-repeat;
}

#line-container {
	background:url(../images/line_hack.jpg) center 0px no-repeat;
}

#wahh-container {
	background:url(../images/wahh.png) center 0px no-repeat;
	opacity:1;
	height: 180px;
	background-color: #2E2F30;
}
#nsl-container {
	background:url(../images/nsl.png) center 0px no-repeat;
	opacity:1;
	height: 202px;
	background-color: #2E2F30;
}
#ipeen89-container{
	background: url(../images/iPeen89.jpg) center 0px no-repeat;
}
#tripcard-container{
	background: url(../images/tripcard.jpg) center 0px no-repeat;
}
#flash_buy-container{
	background: url(../images/flash_buy.jpg) center 0px no-repeat;
}
.opacity{
	opacity: 1;
}
/* ================================= BITS AND PIECES ================================= */
.bits-container {
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	background-color:#1a1c1d;
}

.bit-container ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

.bit-container ul li {

	margin:0px;
	padding:0px;
}


.bit-image {
	cursor:pointer;
	width:25%;
	display:inline-block;
	float:left;
	position:relative;
	background:transparent;
	overflow:hidden;
	left:25%;
}
.box_fix{
	width:100%;
	height:85%;
	position:absolute;
	z-index:9999;
}
.label {
	position:absolute;
	bottom:-100px;
	padding:12px 0px 12px 0px;
	font-size:0.8em;
	color:#efefef;
	z-index:100;
	letter-spacing:0.12em;
	font-family:'Conv_pnl', sans-serif;
	width:100%;
	text-align:center;
	background-color:#26292a;
	
	transition:ease .45s all;
	-webkit-transition:ease .45s all;
	-o-transition:ease .45s all;
	-moz-transition:ease .45s all;
}

.collab {
	font-size:0.7em;
	color:#cacaca;
}

.collab a {
	color:#cacaca;
	text-decoration:none;
}

.collab a:hover {
	text-decoration:underline;
}

.bit-image:hover .label {
	bottom:-0px;
}

.bit {
	width:100%;
	padding-top:100%;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center center;
	
	-webkit-transition:ease .4s all;
	-moz-transition:ease .4s all;
	-o-transition:ease .4s all;
}









.sangoku {
	background-image:url(../images/sangoku_index.jpg);
}


.warrock {
	background-image:url(../images/warrock_index.jpg);
}




/* ================================= EMAIL STRIP ================================= */
.hit-me-up {
	width:100%;
	padding:55px 0px 55px 0px;
	background:url(../images/hitmeup-bg.png) center center no-repeat #fff;
	font-size:0.85em;
	font-family:'Conv_pnr', sans-serif;
	text-align:center;
	letter-spacing:.085em;
}

.hit-me-up a {
	color:#545455;
	padding:13px;
	text-transform:uppercase;
	text-decoration:none;
	transition:ease .25s all;
	-webkit-transition:ease .25s all;
	-moz-transition:ease .25s all;
	-o-transition:ease .25s all;
	
	border:1px solid #747476;
}

.hit-me-up a:hover {
	color:#e9ebef;
	background-color:#26292a;
	text-decoration:none;
	
	border:1px solid #26292a;
	
	border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
}



/* ================================= FOOTER ================================= */
footer {
	padding:150px 0px 150px 0px;
	overflow:hidden;
	max-width:1990px;
	background-image:url(../images/footer-bg-wide.jpg);
	background-size:120%;
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-color:#222627;
}

.fa-holder {
	max-width:960px;
	margin:0px auto;
	text-align:center;
	position:relative;
}

.fa {
	display:inline-block;
	text-indent:-9999px;
	overflow:hidden;
	margin:0px 6%;
}


.fa:first-child {
	margin-left:0px;
}

.fa:last-child {
	margin-right:0px;
}

.fa.dribbble {
	height:114px;
	width:114px;
	background:url("../images/fa-dribbble.png") ;
	background-repeat: no-repeat;
    background-position:0px 0px;
}

.fa.dribbble:hover {
	background-position:0px -115px;
}
.fa.aboutme {
	height:114px;
	width:150px;
	background:url("../images/fa-aboutme.png");
	background-repeat: no-repeat;
    background-position:0px 20px;
}

.fa.aboutme:hover {
	background-position:0px -123px;
}
.fa.twitter {
	margin-top:5px;
	height:114px;
	width:120px;
	background:url("../images/fa-tw.png") 0px 6px no-repeat;
}

.fa.twitter:hover {
	background-position:0px -125px;
}

.fa.linkedin {
	height:114px;
	width:120px;
	background:url("../images/fa-link.png") 0px 4px no-repeat;
}

.fa.linkedin:hover {
	background-position:0px -123px;
}

.fa.mail {
	height:114px;
	width:120px;
	background:url("../images/fa-mail.png") 0px 10px no-repeat;
}

.fa.mail:hover {
	background-position:0px -126px;
}

/* ==================== BOTTOM FOOTER  ==================== */
.bottom-bar {
	padding:50px;
	overflow:hidden;
	background-color:#1a1b1c;
	text-align:center;
}

.bottom-inner {
	max-width:960px;
	margin:0px auto;
	overflow:hidden;
}

.sig {
	overflow:hidden;
	text-indent:-9999px;
	display:inline-block;
	text-decoration:none;
	height:23px;
	width:95px;
	background-image:url(../images/cs-sig.png);
	background-size:100%;
	background-repeat:no-repeat;
}

.disclaimer {
	text-transform:uppercase;
	font-family:'Conv_pnr', sans-serif;
	font-size:0.75em;
	color:#4b4c4c;
	letter-spacing:0.2em;
	padding:0px;
	margin:0px;
	line-height:2em;
}

.mitten {
	opacity:.05;
	display:inline-block;
	overflow:hidden;
	text-indent:-9999px;
	margin-left:5px;
	height:55px;
	width:48px;
	background-image:url(../images/mi-mitten-2.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	
	transition:ease .2s all;
	-moz-transition:ease .2s all;
	-webkit-transition:ease .2s all;
	-o-transition:ease .2s all;
}

.mitten:hover {
	opacity:.25;
}



/* BACK + FORWARD BUTTONS */
.backtointro {
	text-transform:uppercase;
	padding:7px 12px;
	display:inline-block; 
	border:1px solid #8e8f90;
	color:#808282;
	text-decoration:none;
	font-size:.8em;
	font-family:'Conv_pnl', sans-serif;
	margin:35px 0px 0px 0px;
	
	transition:ease .3s all;
	-moz-transition:ease .3s all;
	-o-transition:ease .3s all;
	-webkit-transition:ease .3s all;
}

.backtointro:hover {
	background-color:#efefef;
	color:#2e2e2e;
	border:1px solid #efefef;
}

#home { 
	position:relative;
	background: url(../images/home.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
   /*  position: relative;  */
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#about { 
	background: url(../images/about.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/* Introduction */

#home article { background: url("../images/intro.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

.new_container{
	max-width: 960px;
	margin:0px auto;
	position:relative;
	background-color: #fff;
}
.recent-work{
	margin: 3rem 0 0;
	padding-top: 1em;
}
.bordered-top{
	border-top: 3px solid rgba(0, 0, 0, 0.1);
}
.recent-work > ul{
	display: block;
}
.recent-work > ul > li{
	display: inline-block;
	width: 50%;
}
.recent-work > ul > li:nth-child(3){
	float: right;
}
.recent-work > ul > li > ul{
	list-style: disc;
}
.recent-work > ul > li > ul >li{
	padding-bottom: 10px;
}